<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Jour', 'Température'],
          ['12/02/2024', 8.12],
          ['13/02/2024', 9.71],
          ['14/02/2024', 13.23],
          ['15/02/2024', 15.32],
          ['16/02/2024', 12.5],
          ['17/02/2024', 14.08],
          ['18/02/2024', 13.32],
          ]);

        var options = {
          title: 'Températures des 16 prochains jours à Paris, en degrés °C',
          legend: { position: 'none' },
        };

        var chart = new google.visualization.Histogram(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
  </body>
</html>
